@model idscan.Models.Tag.LoginModel
@{
    Layout = null;
    ViewData["Title"] = "Login";
}
<h2>Login</h2>
<div class="form-horizontal" style="margin-left: 120px">
    <h2 style="margin-left: 176px;">Login</h2>

    @using (Html.BeginForm())
    {

        @Html.AntiForgeryToken()
        <div class="form-group">
            @Html.LabelFor(model => model.Login, htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.EditorFor(model => model.Login, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Login, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.PasswordFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
        </div>
   
        <input style="margin-left: 176px;" type="submit" value="Войти" />
    }
    <a href="Register" style="margin-left: 176px;" class="btn btn-success">Регистрация</a>
</div>
